/* Hide scrollbar while keeping scroll functionality */
.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
